<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new Post</h1>
    <form method="post" action="/Posts">
        <input type="text" placeholder="Enter UserName" name="username" id="username"><br><br>
        <!-- <input type="text" placeholder="Enter id"name="id" id="id" ><br><br> we use uuid so need to write its difficult search for unique ids -->
        <textarea  rows=5 placeholder="Enter your Content"name="content" id="content"></textarea>
        <button type="submit">submit</button>
    </form>
</body>
</html>